body {
    margin: 0;
    padding: 10px;    
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: medium;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background: #19A2EC;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
}

#delete-btn {
    background: #D90B08;
    color: rgb(251, 251, 251)
}

ul {
    font-size:medium;
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #000000;
    text-decoration: solid;
}

img {
 height: 15px;
 width: 15px;
 margin-right: 5px;
 margin-top: 5px;
}

